{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/" method="POST">
        <fieldset>
            <legend>Create New Exotic</legend>
            <label class="form-label">Title: </label>
            <input 
                type="text" 
                name="title" 
                placeholder="{{ weapons.title }}"
                value="{{ weapons.title }}"
                class="form-control"
            >
            <label class="form-label">Lore:</label>
            <input 
                type="text" 
                name="body" 
                placeholder="{{ weapons.lore }}" 
                value="{{ weapons.lore }}" 
                class="form-control"
            >
            <label class="form-label">Rounds Per Minute:</label>
            <input 
                type="number" 
                name="amount"
                value="{{ weapons.rpm }}"
                class="form-control"
            >
            <label class="form-label">Impact:</label>
            <input 
                type="number" 
                name="amount"
                value="{{ weapons.impact }}"
                class="form-control"
            >
            <label class="form-label">Range:</label>
            <input 
                type="number" 
                name="amount"
                value="{{ weapons.range }}"
                class="form-control"
            >
            <label class="form-label">Stability:</label>
            <input 
                type="number" 
                name="amount"
                value="{{ weapons.stability }}"
                class="form-control"
            >
            <label class="form-label">Handling:</label>
            <input 
                type="number" 
                name="amount"
                value="{{ weapons.handling }}"
                class="form-control"
            >
            <label class="form-label">Reload Speed:</label>
            <input 
                type="number" 
                name="amount"
                value="{{ weapons.reload_speed }}"
                class="form-control"
            >
            <label class="form-label">Magazine:</label>
            <input 
                type="number" 
                name="amount"
                value="{{ weapons.magazine }}"
                class="form-control"
            >
            <label class="form-label">Exotic Perk:</label>
            <input 
                type="text" 
                name="body" 
                placeholder="{{ weapons.exotic_perk }}" 
                value="{{ weapons.lore }}" 
                class="form-control"
            >
            <label class="form-label">Perk:</label>
            <input 
                type="text" 
                name="body" 
                placeholder="{{ weapons.perk }}" 
                value="{{ weapons.lore }}" 
                class="form-control"
            >

            
        </fieldset>
        <input type="submit" value="Edit Example" class="btn btn-success">
    </form>
</div>
{% endblock %}