{% layout 'layout.liquid'%}
{% block content %}
<div>
    <h2 class="display-6">Exotic list</h2>
    <div class="row">
        {% for weapon in exotics %}
        <div class="card" style="width: 18rem;">
            <h5 class="card-header">{{ weapons.title }}</h5>
            <div class="card-body">
                <h5 class="card-title">
                    Completed: {{ weapons.ready }}
                </h5>
                <p class="card-text">
                    Stats: {{ weapons.body }}
                </p>
                <p class="card-text">
                    Amount: {{ weapons.amount }}
                </p>
                <a href="/weapons/{{ weapons.id }}" class="btn btn-info">
                    View {{ weapons.title }}
                </a>
            </div>
        </div>
        {% endfor %}
        <div>
            <a href="/weapons" class="btn btn-success">
                Veiw {{ weapons.title }}
            </a>
        </div>
    </div>
</div>
{% endblock %}