{% layout 'layout.liquid' %}
{% block content %}
<div class="container-md">
    <article>
        <h4> ColdHeart
            <a href="/weapons/{{ weapons[0].itemHash }}" class="btn btn-info">
                View
            </a>
        </h4>
        <h4> Sweet Business
            <a href="/weapons/{{ weapons[1].itemHash }}" class="btn btn-info">
                View
            </a>
        </h4>
        <!-- <h4> Merciless
            <a href="/weapons/{{ weapons[2].itemHash }}" class="btn btn-info">
                View
            </a>
        </h4> -->
        <!-- <h4> Fighting Lion
            <a href="/weapons/{{ weapons[3].itemHash }}" class="btn btn-info">
                View
            </a>
        </h4> -->
        <!-- <h4> The Prospector
            <a href="/weapons/{{ weapons[4].itemHash }}" class="btn btn-info">
                View
            </a>
        </h4> -->
        <h4> Sunshot
            <a href="/weapons/{{ weapons[5].itemHash }}" class="btn btn-info">
                View
            </a>
        </h4>
        <h4> Vigilance Wing
            <a href="/weapons/{{ weapons[6].itemHash }}" class="btn btn-info">
                View
            </a>
        </h4>
        <h4> Graviton Lance
            <a href="/weapons/{{ weapons[7].itemHash }}" class="btn btn-info">
                View
            </a>
        </h4>
        <!-- <h4> The Wardcliff Coil
            <a href="/weapons/{{ weapons[8].itemHash }}" class="btn btn-info">
                View
            </a>
        </h4> -->
        <h4> Skyburner's Oath
            <a href="/weapons/{{ weapons[9].itemHash }}" class="btn btn-info">
                View
            </a>
        </h4>
        <h4> Tractor Cannon
            <a href="/weapons/{{ weapons[10].itemHash }}" class="btn btn-info">
                View 
            </a>
        </h4>
        <h4> Borealis
            <a href="/weapons/{{ weapons[11].itemHash }}" class="btn btn-info">
                View 
            </a>
        </h4>
        <h4> D.A.R.C.I.
            <a href="/weapons/{{ weapons[12].itemHash }}" class="btn btn-info">
                View 
            </a>
        </h4>
        <h4> Riskrunner
            <a href="/weapons/{{ weapons[13].itemHash }}" class="btn btn-info">
                View
            </a>
        </h4>
        </h4>
        <h4> Hard Light
            <a href="/weapons/{{ weapons[14].itemHash }}" class="btn btn-info">
                View
            </a>
        </h4>

    </article>
</div>
{% endblock %}