{% layout 'layout.liquid' %}
{% block content %}
<div class="container-md">
    <article>
        <h4> ColdHeart
            <a href="/weapons/{{ weapons.item[0]}}" class="btn btn-info">
                View
            </a>
        </h4>
        <h4> Sweet Business
            <a href="/weapons/{{ weapons.item[1] }}" class="btn btn-info">
                View
            </a>
        </h4>
        <h4> Merciless
            <a href="/weapons/{{ weapons.item[2] }}" class="btn btn-info">
                View
            </a>
        </h4>
        <h4> Fighting Lion
            <a href="/weapons/{{ weapons.item[3] }}" class="btn btn-info">
                View
            </a>
        </h4>
        <h4> The Prospector
            <a href="/weapons/{{ weapons.item[4] }}" class="btn btn-info">
                View
            </a>
        </h4>
        <h4> Sunshot
            <a href="/weapons/{{ weapons.item[5] }}" class="btn btn-info">
                View
            </a>
        </h4>
        <h4> Vigilance Wing
            <a href="/weapons/{{ weapons.item[6] }}" class="btn btn-info">
                View
            </a>
        </h4>
        <h4> Graviton Lance
            <a href="/weapons/{{ weapons.item[7] }}" class="btn btn-info">
                View
            </a>
        </h4>
        <h4> The Wardcliff Coil
            <a href="/weapons/{{ weapons.item[8] }}" class="btn btn-info">
                View
            </a>
        </h4><h4> Skyburner's Oath
            <a href="/weapons/{{ weapons.item[9]}}" class="btn btn-info">
                View
            </a>
        </h4><h4> Tractor Cannon
            <a href="/weapons/{{ weapons.item[10] }}" class="btn btn-info">
                View 
            </a>
        </h4><h4> Borealis
            <a href="/weapons/{{ weapons.item[11] }}" class="btn btn-info">
                View 
            </a>
        </h4><h4> D.A.R.C.I.
            <a href="/weapons/{{ weapons.item[12] }}" class="btn btn-info">
                View 
            </a>
        </h4><h4> Riskrunner
            <a href="/weapons/{{ weapons.item[13] }}" class="btn btn-info">
                View
            </a>
        </h4>
        </h4><h4> Hard Light
            <a href="/weapons/{{ weapons.item[14] }}" class="btn btn-info">
                View
            </a>
        </h4>

    </article>
</div>
{% endblock %}