{% layout 'layout.liquid' %}
{% block content %}
<div class="container-md">
    <article>
        <h2>
            {{ name }} 
        </h2>
        <h3>Lore: {{ lore }}</h3>
        <h6>Rounds Per Minute: {{ rpm }}</h6>
        <h6>Impact: {{ impact }}</h6>
        <h6>Range: {{ range }}</h6>
        <h6>Stability: {{ stability }}</h6>
        <h6>Handling: {{ handling }}</h6>
        <h6>Reload Speed: {{ reload }}</h6>
        <h6>Magazine Size: {{ mag }}</h6>
    </article>
</div>
{% endblock %}